.__section-home {
    padding: 0;
    margin: 0;
    /* background: var(--color-dark-gray);  */
    height: 100vh;
}
.__section-home{
    /* background: url('../../images/banner-services.jpg'); */
    background: url('../../images/portada.png');
    background-position: center;  
    background-size: cover;
    background-position-y: 0px;
}
.__brand-logo{
    width: inherit; 
}

.__home-text{
    color: var(--sheche-font-gray);
    margin: 40px auto;
    font-weight: 300;
}
.__home-title{
    height: calc(100% - var(--navbar-height));
}