.__section-home {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url('../../images/portada3.png');
    background-position: center;  
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.__brand-logo{
    width: inherit; 
}

.__home-text{
    color: var(--sheche-font-gray);
    margin: 40px auto;
    margin-top: 0;
    font-weight: 300;
    font-size: 14px;
}
.__home-title{
    height: calc(100% - var(--navbar-height));
    margin-top: -70px;
}