.__section-contact {
  background: #23272f;
}
.__info-title {
  display: block;
  color: var(--sheche-primary-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.__info-data {
  display: block;
  color: #d6e1ef;
  font-weight: 200;
  font-size: 1rem;
}
#section-contact > div.row.col-12 > div.col-12.col-md-4.__contact-info > span:nth-child(4) > span{
  margin-bottom: 0px;
}
#__map-location {
  width: 100%;
  height: 100%;
}

.google-maps {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.contact-info{
  padding-top: 0px;
}
.social-list ul{
  list-style: none;
}
.social-list ul li{
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
.social-list ul li a span[class^="icon-"]:before{
  color: #686d78;
  font-size: 18px;
  cursor: pointer;
}
.social-list ul li:hover a span[class^="icon-"]:before{
  color: #ffda60;
  cursor: pointer;
}
#section-contact > div.__section-title{
  margin-top: 40px;
}
.__contact-copyright{
  color: white;
  font-size: 10px;
  font-weight: lighter;
}
.contact-body{
  /* height: 100vh; */
  display: block;
  padding-bottom: 40px !important;
  z-index: 2;
}
.__contact-logo{
  width: 40px;
}
.__contact-footer{
  padding-top: 50px;
}
.__LGM{
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 8px;
}
.__LGM > a,
.__LGM:hover > a{
  color: #afafaf;
}