.__section-contact {
  /* background: #23272f; */
  background: #000;
}
.__info-title {
  display: block;
  color: var(--sheche-primary-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.__info-data {
  display: block;
  color: #d6e1ef;
  font-weight: 200;
  font-size: 1rem;
}

#__map-location {
  width: 100%;
  height: 100%;
}

.google-maps {
  position: relative;
  height: 200px;
  overflow: hidden;
  filter: invert(1) grayscale(1) brightness(0.5);
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.__contact-info{
  padding-top: 50px;
}
.social-list ul{
  list-style: none;
}
.social-list ul li{
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
.social-list ul li a span[class^="icon-"]:before{
  color: #ffda60;
  font-size: 20px;
  cursor: pointer;
}
.social-list ul li:hover a span[class^="icon-"]:before{
  color: #ffda60;
  cursor: pointer;
}
#section-contact > div.__section-title{
  margin-top: 40px;
}
.__contact-copyright{
  color: white;
  font-size: 10px;
  font-weight: lighter;
}
.contact-body{
  /* height: 100vh; */
  display: block;
  z-index: 2;
}
.__contact-logo{
  width: 40px;
}
.__contact-footer{
  padding-top: 20px;
}
.__LGM{
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 8px;
}
.__LGM > a,
.__LGM:hover > a{
  color: #afafaf;
}
.__contact-data{
  color:white;
}
.__contact-data-title{
  font-size: 14px;
}
.__contact-data-detail{
  font-weight: 100;
  padding-bottom:10px;
  font-size: 12px;
}
.__section-title{
  color: white;
}
.__containder-data{
  padding-bottom: 40px !important;
  border-bottom: 1px solid #ffffff69;
}

@media only screen and (max-width: 700) {
  .social-list ul li a span[class^="icon-"]:before{
    font-size: 30px;
  }
  .__contact-logo{
    width: 45px;
  }
  .__contact-copyright {
    padding-bottom: 30px;
  }
  .scroll-down-arrow{
    display: none;
  }
  .__contact-data-title{
    font-size: 16px;
  }
  .__contact-data-detail{
    padding-bottom:25px;
    font-size: 14px;
  }
}
