.__section-gallery {
    min-height: 100vh;
  }

.__section-gallery div.carousel.slide{
  box-shadow: 0 10px 20px black;
 }

.carousel-caption{
  background: #00000099;
  width: 100%;
  left: 0;
  bottom: 0;
}
.carousel-indicators li {
  background-color: #fbe23c;
}

