.__section-gallery {
    min-height: 100vh;
    /* background: #131313; */
}

.__section-title.gallery{
  padding-top: 50px !important;
}

.carousel-caption{
  background: #00000099;
  width: 100%;
  left: 0;
  bottom: 0;
}
.carousel-indicators li {
  background-color: #fbe23c;
}


.__gallery2{
  display: grid;
  padding-bottom: 50px;
}
/* .ReactGridGallery_tile{
  filter: grayscale(1) !important;
}
.ReactGridGallery_tile:hover{
  filter: none !important;
} */