:root {
  --sheche-primary-color: #fbe23c;
  --sheche-primary-color-hover: #c3ad04;
  --sheche-secondary-color: #272b2d;
  --sheche-font-gray: #e0e0e0;
  --navbar-height: 60px;
  --footer-height: 40px;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background: #000; */
  font-family: 'Poppins', sans-serif;
  /* background: var(--sheche-secondary-color); */
  background: #222222;
}
a {
  text-decoration: none !important;
  color: #e0e0e0;
}
a:hover {
  color: #f3d706;
}
.btn-sheche {
  background: var(--sheche-primary-color) !important;
  border: none;
  color: var(--sheche-secondary-color);
  border-radius: 0;
  font-weight: 500;
  padding: auto 8px;
  min-width: 64px;
  height: 42px;
}
.btn-sheche a {
  color: var(--sheche-secondary-color);
}
.btn-sheche:hover,
.btn-sheche:focus,
.btn-sheche:active {
  background: #33393e !important;
  border: 0 solid transparent;
  outline: none !important;
  color: #fbe23c;
  box-shadow: none;
}
.btn-sheche:hover a {
  color: #fbe23c;
}
.__section-title {
  font-family: "Sheche";
  padding-top: 100px;
  font-size: 1.8rem;
  margin-bottom: 50px;
  color: #9f9f9f;
}

.__icon {
  display: inline-block;
  cursor: pointer;
}